.woocommerce ul.products li.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-product-card);
  height: 100%;
  & a img {
    // aspect-ratio: 1 / 1;
    // height: 14rem;
    // object-fit: cover;
    // object-position: center center;
    // overflow: hidden;
  }
  & .woocommerce-LoopProduct-link {
    // aspect-ratio: 1 / 1;
    // flex-grow: 1;
  }
  & .entry-content-wrap {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    & .price {
      font-family: var(--font-family-heading);
      font-size: var(--font-headline-sm);
      font-weight: var(--font-weight-semibold);
      color: var(--color-grey-darker);
      order: 1;
      margin: 0 0 0 0;
    }
    & .woocommerce-loop-product__title {
      // flex-basis: 100%;
      font-family: var(--font-family-body);
      font-size: var(--font-headline-sm);
      font-weight: var(--font-body-weight);
      color: var(--color-grey-darker);
      line-height: var(--line-height-body);
      padding: 2rem 0;

      order: 2;
    }
    & .product-action-wrap {
      order: 3;
      margin-top: auto;
      // flex-basis: 30%;
    }
  }
}
// .woocommerce ul.products li.product > img {
//   flex-basis: 60%;
// }
// .woocommerce ul.products li.product > .product-details {
//   flex-basis: 40%;
// }
// .woocommerce ul.products li.product .entry-content-wrap {
//   margin: 0;
// }
// .woocommerce-loop-product__title {
//   order: 1;
// }
.woocommerce
  ul.products.woo-archive-action-on-hover
  li.product
  .product-action-wrap {
  position: static;
  // width: 100%;
  // display: inline-block;
  padding: 0;
  //   align-items: center;
  //   justify-content: center;
  opacity: 1;
  //   transition: opacity 0.3s ease;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   border-radius: 0.5rem;
  // margin-top: var(--space-large);
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  & .product-save-button {
    background-color: var(--color-white);
    color: var(--color-grey-darker);
    border: 1px solid var(--color-grey-light);
  }
  & .kadence-svg-icon {
    display: none;
  }
}
.woocommerce
  ul.products:not(.woo-archive-btn-button)
  li:where(:not(.woo-archive-btn-button))
  .button:not(.kb-button) {
  position: static;
  display: inline-block;
  width: 100%;
  padding: var(--space-medium) var(--space-large);
  font-size: var(--font-size-body);
  font-weight: var(--font-headline--weight);
  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);
  color: var(--fg, var(--color-white));
  background-color: var(--accent, var(--color-primary));
  text-transform: initial;
}

li.product:hover .product-details,
li.product .product-details {
  transform: none !important;
  transition: none;
}
