// .woocommerce div.product div.images,
// .woocommerce div.product div.summary {
//   float: none !important;
//   width: auto !important;
// }

.woocommerce div.product {
  float: none !important;
  width: auto !important;
}
.woocommerce div.product {
  display: grid;
  gap: var(--space-large);

  grid-template-columns: 1fr;
  grid-template-areas:
    "images"
    "summary"
    "tabs"
    "related";
}

.woocommerce div.product div.images {
  grid-area: images;
  float: none !important;
  width: auto !important;
}

.woocommerce div.product div.summary {
  grid-area: summary;
  float: none;
  width: auto;

  background: #fff;
  padding: var(--space-medium);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow-product-card);
}

.woocommerce div.product .woocommerce-tabs {
  grid-area: tabs;
  float: none !important;
  width: auto !important;

  background: #fff;
  padding: var(--space-medium);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow-product-card);
}

.woocommerce div.product .related.products {
  grid-area: related;
  float: none !important;
  width: auto !important;

  background: #f7f7f7;
  padding: var(--space-medium);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow-product-card);
}

@media (min-width: 48rem) {
  .woocommerce div.product {
    grid-template-columns: 70% 40%;

    grid-template-areas:
      "images summary"
      "tabs tabs"
      "related related";

    align-items: start;
  }
}
