.wolheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__dropdown {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &__right {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    font-size: 1rem;
    color: #171c1f;
    &_icon {
      font-size: 1.2rem;
      padding: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      background-color: #ebeded;
    }
    &_cart {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      background-color: #ebeded;
    }
    &_text--light {
      font-size: 0.8rem;
      color: #616c71;
    }
    &_text--bold {
      font-weight: 501;
    }
  }
  .fa-light,
  .fas {
    font-weight: 900;
    color: #101111;
  }
}
