*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
optgroup,
input,
select,
textarea {
  font: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
}
